<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css" />
  <title>About</title>
</head>
<body class="homepageAbout">
  <nav class="nav-bar">
    <a href="/">Hompage</a>
    <a href="/works">Works</a>
  </nav>
  <h1>Lionel Andrés Messi Cuccittini</h1>
    <section class="comienzos">
      <p>Nacio en Rosario, Santa Fe, Argentina en 1987. Hijo de Jorge Horacio Messi y Celia Maria Cuccittini.
      Tiene dos hermanos mayores y una hermana menor. Desde los 5 años que ya jugaba al futbol con sus hermanos mayores.
      Gracias a sus dotes futbolisticos nunca antes vistos, año tras año deslumbraba en su equipo, del cual es fanatico, 
      Newelle´s Old Boys de Rosario. Se le veia futuro como jugador de futbol profesional. Pero un problema hormonal de 
      nacimiento le impidia tener la fuerza y el desarrollo natural. El unico tratamiento era inyectarse unas hormonas 
      que no estaban al alcance economico de su familia. Newelle´s no se hizo cargo del tratamiento, y el padre salio en
      busca de encontrar si alguno de los clubes mas grandes de Argentina, en Buenos Aires, se harian cargo de las expensas
      del tratamiento. Pero su busqueda no tuvo exito.
      </p>
      <img class="img1" src="img/1.jpg" alt="">
    </section>
    <section class="barcelona">
      <img class="img2" src="img/2.jpg" alt="">
      <p>Hasta que aparecio el Futbol Club Barcelona, de España. Y le dieron 
        la oportunidad de probarse y pagarle el tratamiento. Lionel los deslumbro a tal caso, que los representantes de 
        Barcelona, viajaron a Rosario, Argentina, se juntaron con Jorge Messi, y firmaron el primer contrato en una servilleta
        del cafe donde estaban reunidos. En ese contrato, entre otras cosas, asumian los costos del tratamiento de Lionel. Fue
        una apuesta importante del Barcelona, pero la historia les ha dado la derecha, nadie en ese momento hubiese imaginado
        que se convertiria uno de los mejores, sino el mejor jugador de la historia. </p>
    </section>
</body>
</html>
