<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Messi</title>
  <link rel="stylesheet" href="styles/style.css" />
</head>

<body class="homepage">
    <div class="lionelMessi">
        <h1 class="lionel">Lionel</h1>
        <h1 class="messi">Messi</h1>
    </div>
    <div class="shortcut">
        <a href="/about">
            <img class="aboutLink" src="img/messi-vacaciones-1-2.webp"> 
        </a>
        <a href="/works">
            <img class="worksLink" src="img/messi balones.jpg">
        </a>
    </div>
</body>

</html>
