<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css" />
  <title>Works</title>
</head>
<body class="homepageWorks">
    <nav class="nav-bar">
      <a href="/">Hompage</a>
      <a href="/about">About</a>
    </nav>
    <h1>Lionel Andrés Messi Cuccittini</h1>
      <div class="accolades">
        <div class="gif-box">
          <img src="/gifs/200.webp" alt=""> 
          <ul class="color"> 
            <li>994 GAMES </li>
            <li>785 GOALS</li>
            <li>345 ASSISTS</li>
          </ul>
        </div>
        <div class="gif-box">
          <img src="/gifs/100.webp" alt="">
          <ul class="color"> 
            <li>45 EL CLASICO GAMES </li>
            <li>26 GOALS (MOST EVER)</li>
            <li>14 ASISTS (MOST EVER)</li>
          </ul>
        </div>
        <div class="gif-box">
          <img src="/gifs/200w (2).webp" alt="">
          <ul class="color"> 
            <li>558 LA LIGA GAMES</li>
            <li>487 LA LIGA GOALS(MOST EVER)</li>
            <li>216 LA LIGA ASSIS(MOST EVER)</li>
          </ul>
        </div>
        <div class="gif-box">
          <img src="/gifs/200w (5).webp" alt="">
          <ul class="color"> 
            <li>U20 WORLD CHAMPION</li>
            <li>BEST PLAYER FIFA U20 WORLD CUP</li>
            <li>TOP SCORER FIFA U20 WORLD CUP</li>
          </ul>
        </div>
        <div class="gif-box">
          <img src="/gifs/giphy.webp" alt="">
          <ul class="color"> 
            <li>161 CHAMPIONS LEAGUE GAMES </li>
            <li>129 CHAMPIONS LEAGUE (2ND)</li>
            <li>39 CHAMPIONS LEAGUE (2ND)</li>
          </ul>
        </div>
        <div class="gif-box">
          <img src="/gifs/200w (3).webp" alt="">
          <ul class="color"> 
            <li>164 GAMES PLAYED FOR ARGENTINA </li>
            <li>90 GOALS FOR ARGENTINA (MOST)</li>
            <li>49 ASISTS FOR ARGENTINA(MOST)</li>
          </ul>
        </div>
      </div>
</body>
</html>
