body{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1{
    color: rgba(91, 175, 252, 1);
}

.lionelMessi{
  display: flex;
  justify-content: space-between;
  width: 100vh;
  height: 200px;
  align-items: center;
  font-size: 30px;
}

.lionel{
  display: flex;
}

.messi{
  display: flex;
}


.homepage{
  background-image:linear-gradient(
   rgba(0, 0, 0, 0.1),
   rgba(0, 0, 0, 0.1)), url("../img/Lionel\ Messi.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: space-between;
}

.shortcut{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 300px;
  align-items: center;
  transition: all ease 0.1s;
}

.aboutLink{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
  box-shadow:  0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  object-fit: cover;
}

.aboutLink:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.worksLink{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
  box-shadow:  0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  object-fit: cover;
}

.worksLink:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.25);
}

img{
  object-fit: cover;
}

a{
  align-items: center;
  text-align: center;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-bar a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.homepageAbout{
  background-color: rgb(253, 238, 220);
  font-size: 20px;
}

.comienzos{
  display: flex;
  margin: 10px;
}
.comienzos p{
  margin: 10px;
  font-family: monospace;
  size: 15px;
}

.img1, .img2 {
  display: flex;
  width: 200px;
  border-radius: 5px;
}

.barcelona {
  display: flex;
}
.barcelona p{
  margin: 10px;
  font-family: monospace;
  size: 15px;
}

.homepageWorks{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("../img/575663d4c7f2db93b78d4f0d5e4cde21ef4a7d64.jpeg");
    background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}

.accolades{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.accolades ul{
  color: white;
}

.accolades img{
  height: 200px;
  width: 200px;
}

ul {
  list-style-type: none;
}

.gif-box{
}
